@import "./styles/_variables.scss";
p{
  margin: 0;
  padding: 0;
}
.container {
  background-color: $main-color;
  display: flex;
}

.main__header{
  display: flex;
}

.breadcrumbs{
  display: flex;
}
